@charset 'UTF-8';

@import '../../node_modules/sanitize.css/lib/sanitize.scss';

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: proxima-nova, helvetica, arial, sans-serif;
  color: #fff;
  font-size: 18px;
  background: #719ee5;
}

a {
  color: #fff;
}

p {
  margin-bottom: 25px;
  line-height: 28px;
  letter-spacing: .02em;
}

main {
  text-align: center;
  width: 90%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1, h1 a {
  font-family: proxima-nova-soft, helvetica, arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
}

pre {
  font-size: 16px;
  text-align: center;
  margin: 0 auto 5px;
}

code {
  display: inline-block;
  background: #373946;
  border-radius: 2px;
  padding: 10px 15px;
}
