<div class="youtube">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5 8a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5h11zM16 8a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zm6 1.854v4.293l-2-1.408v-1.478l2-1.407zM24 6l-6 4.223v3.554L24 18V6z"/></svg>
  <p>Are you a visual learner? WordPlate provides a <a href="https://www.youtube.com/playlist?list=PLigSAMFNpkZiVpi0rSzoWhS4qa4JPq09O">free, thorough introduction to WordPlate</a> for newcomers to the framework. It's a great place to start your journey.</p>
</div><!-- /youtube -->
