---
---
@charset 'UTF-8';

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e;
  line-height: 24px;
}

a { text-decoration: none; }

.markdown-body .columns {
  columns: 3;
  list-style: none;
  padding-left: 0;
}

.markdown-body a { color: #4a9cff; }

.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  cursor: pointer;

  &:before {
    content: url(https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/svg/link.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    transform: translateX(-150%);
    opacity: 0;
  }

  &:hover:before {
    opacity: 1;
  }
}

h1, h2, h3 {
  color: #24292e;
  font-weight: 400;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

aside {
  width: 250px;

  header {
    background-color: #4a9cff;
    background: linear-gradient(135deg, #71b1ff 0%, #3d95ff 100%);
    border-right: 1px solid #4a9cff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  h1 {
    color: #fff;
    font-family: 'Comfortaa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  nav {
    border-right: 1px solid #eaecef;
    height: calc(100% - 120px);

    ul {
      padding: 0;
      margin: 0;
    }

    a {
      color: #24292e;
      border-bottom: 1px solid #eaecef;
      width: 100%;
      display: block;
      padding-left: 1em;
      padding-top: .6em;
      padding-bottom: .6em;
    }

    a:hover,
    .navigation__item--active {
      background-color: #f6f8fa;
    }

    .navigation__item--external {
      background-image: url(../images/link-external.svg);
      background-repeat: no-repeat;
      background-position: right 20px center;
      background-size: 12px;
    }

    li:last-child a {
      border-bottom: 0;
    }
  }
}

article {
  max-width: 800px;
  padding-left: 2.15em;
  margin-bottom: 2em;
}

.page--start {
  text-align: center;

  p {
    color: #768093;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.05em;

    a {
      color: #768093;
      text-decoration: none;
    }
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
  }

  article {
    max-width: 100%;
    padding-left: 0;
    margin: 0;
  }

  h1, h1 a {
    font-family: 'Comfortaa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: #3d3d3f;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media screen and (orientation: portrait) { font-size: 40px; }
  }

  footer a {
    color: #768093;
    font-size: 12px;
  }
}

footer { font-size: .75em; }

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (orientation: portrait) { flex-direction: column; }

  a {
    margin: 0 5px;

    @media screen and (orientation: portrait) { margin-bottom: 20px; }
  }
}

.button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #4398ff;
  box-shadow: rgba(23, 43, 99, .30) 0 7px 20px;
  border: 1px solid transparent;
  transition: all 100ms ease;

  &:hover {
    background: #fff;
    border-color: #4398ff;
    box-shadow: none;
    color: #1398ff;
  }
}

.button--inverted {
  background: #fff;
  border-color: #4398ff;
  color: #1398ff;
  box-shadow: none;

  &:hover {
    background: #4398ff;
    box-shadow: rgba(23, 43, 99, .30) 0 7px 20px;
    color: #fff;
  }
}

.youtube {
  background-color: #4d9dff;
  color: #fff;
  padding: 15px 20px 0;
  margin-bottom: 15px;
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  font-size: 15px;

  svg {
    width: 40px;
    margin-right: 10px;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }
}

.salt-text {
  display: block;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  white-space: pre;
  margin: 0;
  padding: 16px 0 16px 16px;
  border: 0 none;

  &:focus {
    outline: 0 none;
  }
}
